@using FinalJumpCOMP2007.Models
@model IEnumerable<Canopy>

@{
    ViewBag.Title = "Index";
}

<h2>Browse Canopys</h2>
<p>
    Select from @Model.Count()
    canopy:
</p>
<div class="clearfix"></div>
<div id="grid-container" class="pull-right">
    <ul>
        @foreach (var canopy in Model)
        {
            <li class="cbp-item frame architecture">@Html.ActionLink(canopy.Name, "Browse", new { canopy = @canopy.Name })</li>  
            <img src="@Html.DisplayFor(modelItem => canopy.ThumbnailURL)" />
            <h3>
                @Html.DisplayFor(modelItem => canopy.ItemPrice)
            </h3>
            <h3>
                @Html.DisplayFor(modelItem => canopy.ShortDesc)
            </h3>

        }
    </ul>
</div>