@model FinalJumpCOMP2007.Models.Canopy

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Canopy</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShortDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShortDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThumbnailURL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThumbnailURL)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CanopyID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
